<%= provide(:title, "Custom Commands") %>
<% if signed_in? %>
  <div id="sub-header">
    <div id="login-info">
      You are signed in as <%= @current_user.twitch_name %>.<br>
    </div>
    <div id="main-buttons">
      <%= link_to "Main Page", salty_path, class: "pure-button" %>
      <%= link_to "Quotes", salty_quotes_path, class: "pure-button" %>
      <%= link_to "Sign Out", sign_out_path, class: "pure-button" %>
    </div>
  </div>
  <%= form_for @current_user, url: update_custom_commands_path, html: {class: "pure-form"} do |f| %>
    <%= f.hidden_field :twitch_name %>
    <h1>Custom Commands</h1>
    <h2>Please do not add prefixes for commands, they will be added automatically (ex: !)</h2>
    <div id="custom-commands-form" class="pure-g">
      <%= f.fields_for :custom_commands do |cc| %>
        <div id="ccustom-<%= cc.object.id %>" class="pure-u-1-2">
          <div class="custom-command">
            <%= cc.check_box :on %> Enabled <%= cc.check_box :admin, style: "margin-left: 1em;" %> Mod Only Command?<br>
            Command Trigger: <%= cc.text_field :trigger %>
            Limit: <%= cc.number_field :limit %>
            Output: <%= cc.text_field :output %>
          </div>
        </div>
      <% end %>
    </div>
    <%= f.submit "Save", class: "pure-button pure-button-primary" %>
  <% end %><br><br>
  <h2>Add New Commands</h2>
  <div id="new-custom" class="pure-form pure-u-1-2">
    Trigger: <input id="new-trigger" type="text" name="new-trigger"></input>
    <input id="new-admin" type="checkbox" name="new-admin" /> Mod Command?<br>
    Limit: <input id="new-limit" type="number" name="new-limit"></input>
    Output: <input id="new-output" type="text" name="new-output"></input>
    <button type="button" class="pure-button pure-button-primary" onclick="window.create_custom_command({user: '<%= @current_user.twitch_name %>', on: true, trigger: $('#new-trigger').val(), admin: $('#new-admin').is(':checked'), limit: $('#new-limit').val(), output: $('#new-output').val()})">Create New Command</button>
  </div>
<% else %>
  Please sign in on the main salty page located <%= link_to "here.", salty_path %>
<% end %>
