<%= provide(:title, "Custom Commands") %>
<% if signed_in? %>
  <div style="float: left; display: inline-block;">
    You are signed in as <%= @current_user.twitch_name %>.<br>
  </div>
  <div style="float: right; display: inline-block;">
    <%= link_to "Main Page", salty_path, class: "pure-button" %>
    <%= link_to "Sign Out", sign_out_path, class: "pure-button" %><br>
  </div><br><br>
  <%= form_for @current_user, url: update_custom_commands_path, html: {class: "pure-form"} do |f| %>
    <%= f.hidden_field :twitch_name %>
    <h1>Custom Commands</h1>
    <%= f.fields_for :custom_commands do |cc| %>
      <div id="ccustom-<%= d.object.id %>", class="pure-u-1-2">
        <div class="custom_command">
          Command Trigger: <%= cc.textfield :trigger %>
          <%= cc.check_box :on %> Enabled<br>
          <%= cc.check_box :admin %> Mod Only Command?<br>
          Limit: <%= cc.number_field :limit %>
          Output: <%= cc.textfield :output %>
        </div>
      </div>
    <% end %>
    <%= f.submit "Save", class: "pure-button pure-button-primary" %>
  <% end %><br><br>
  <h2>Add New Commands</h2>
  <div class="pure-u-1-3">
    Trigger: <input id="new-trigger" type="text" name="new-trigger"></input>
    <input id="new-admin" type="checkbox" name="new-admin" /> Mod Command?<br>
    Limit: <input id="new-limit" type="number" name="new-limit"></input>
    Output: <input id="new-output" type="text" name="new-output"></input>
    <button type="button" class="pure-button pure-button-primary" onclick="">Create New Command</button>
  </div>
<% else %>
  Please sign in on the main salty page located <%= link_to "here.", salty_path %>
<% end %>
