<%= provide(:title, "Quotes") %>
<% if signed_in? %>
  <div style="float: left; display: inline-block;">
    You are signed in as <%= @current_user.twitch_name %>.<br>
  </div>
  <div style="float: right; display: inline-block;">
    <%= link_to "Main Page", salty_path, class: "pure-button" %>
    <%= link_to "Sign Out", sign_out_path, class: "pure-button" %><br>
  </div><br><br>
  <%= form_for @current_user, url: update_salty_quotes_path, html: {class: "pure-form"} do |f| %>
    <%= f.hidden_field :twitch_name %>
    <% counter = 0 %>
    <h1>Quotes</h1>
    <div class="pure-g">
      <%= f.fields_for :quotes do |d| %>
        <% counter = counter + 1 %>
        <div class="pure-u-1-3">
          <%= d.text_field :text %>
          <% unless d.object.reviewed %>
            <button type="button" class="pure-button pure-button-approve", onclick="window.approve_textutil({user: '<%= @current_user.twitch_name %>', id: '<%= d.object.id %>', type: 'quotes'});">Approve</button>
          <% end %>
          <button type="button" class="pure-button pure-button-delete", onclick="window.delete_textutil({user: '<%= @current_user.twitch_name %>', id: '<%= d.object.id %>', type: 'quotes'});">Delete</button>
        </div>

        <% if counter % 2 == 0 %>
          <br><br>
        <% else %>
          <div class="pure-u-1-3">
          </div>
        <% end %>
      <% end %>

    </div><br><br><br>
    <input id="new_quote_input" type="text" name="new_quote_input"></input>
    <button type= "button" class="pure-button pure-button-primary" onclick="window.create_textutil({user: '<%= @current_user.twitch_name %>', type: 'quotes', text: $('#new_quote_input').val()});" >Create New Quote</button>
    <% counter = 0 %>
    <h1>Puns</h1>
    <div class="pure-g">
      <%= f.fields_for :puns do |d| %>
        <% counter = counter + 1 %>
        <div class="pure-u-1-3">
          <%= d.check_box :reviewed %> Approved<br>
          <%= d.text_field :text %>
          <% unless d.object.reviewed %>
            <button type="button" class="pure-button pure-button-approve", onclick="window.approve_textutil({user: '<%= @current_user.twitch_name %>', id: '<%= d.object.id %>', type: 'puns'});">Approve</button>
          <% end %>
          <button type="button" class="pure-button pure-button-delete", onclick="window.delete_textutil({user: '<%= @current_user.twitch_name %>', id: '<%= d.object.id %>', type: 'puns'});">Delete</button>
        </div>

        <% if counter % 2 == 0 %>
          <br><br>
        <% else %>
          <div class="pure-u-1-3">
          </div>
        <% end %>
      <% end %>
      </div>
    <input id="new_pun_input" type="text" name="new_pun_input"></input>
    <button type= "button" class="pure-button pure-button-primary" onclick="window.create_textutil({user: '<%= @current_user.twitch_name %>', type: 'puns', text: $('#new_pun_input').val()});" >Create New Pun</button>
    
    <br><br>
    <%= f.submit "Save", class: "pure-button pure-button-primary" %>
  <% end %>
<% else %>
  Please sign in on the main salty page located <%= link_to "here.", salty_path %>
<% end %>
