<%= provide(:title, "SaltyBot") %>
<% if signed_in? %>
  <div id="sub-header">
    <div id="login-info">
      You are signed in as <%= @current_user.twitch_name %>.<br>
    </div>
    <div id="main-buttons">
      <%= link_to "Quotes", salty_quotes_path, class: "pure-button" %>
      <%= link_to "Custom Commands", custom_commands_path, class: "pure-button" %>
      <%= link_to "Sign Out", sign_out_path, class: "pure-button" %>
    </div>
  </div>
  <%= form_for @current_user, url: update_salty_path, html: {class: "pure-form"} do |f| %>
    <h1>General Info</h1>
    <%= f.fields_for :settings do |d| %>
      <%= d.check_box :active %> Enable Bot In Your Channel
    <% end %>
    <br><br>
    Channel to Join: <%= f.text_field :twitch_name, readonly: true %>
    Bot Nick to Use: <small>*Leave blank if you want the default name of "TheSaltyBot"</small><%= f.text_field :bot_nick, placeholder: "TheSaltyBot" %>
    Oauth for Bot Nick: <small>*Leave blank if using default name</small><%= f.password_field :bot_oauth, placeholder: "Only insert text if change is needed" %>
    SpeedRunsLive Nick: <small>*Optional for !race if twitch name is not set on SRL</small><%= f.text_field :srl_nick %>
    Speedrun.com Username: <small>*Optional for !pb if speedrun.com nick is different than on twitch</small><%= f.text_field :speedruncom_nick %>
    Osu Nick: <small>*Required for all osu commands</small><%= f.text_field :osu_nick %>
    Summoner Name: <small>*Requred for all League commands</small><%= f.text_field :summoner_name %>
    <% counter = 0 %>
    <%= f.fields_for :commands do |d| %>

      <% counter = counter + 1 %>
      <% if counter == 1 %>
        <h1>General Commands</h1>
        <div class="pure-g">
      <% elsif counter == 8 %>
        </div>
        <h1>Speed Running Commands</h1>
        <div class="pure-g">
      <% elsif counter == 13 %>
        </div>
        <h1>Osu Commands</h1>
        <div class="pure-g">
      <% elsif counter == 15 %>
        </div>
        <h1>League Commands</h1>
        <div class="pure-g">
      <% end %>

        <div class="pure-u-1-3">
          <div class="panel panel-default">
            <div class="panel-heading"><h2 style="color: black; margin: 0px;"><%= "!#{d.object.name}" %></h2></div>
            <div class="panel-body">
              <%= d.check_box :on %> Enabled<br>
              <%= d.check_box :admin %> Mod Only Command?<br>
              Cooldown: <br><%= d.number_field :limit%>
            </div>
          </div>
        </div>

      <% end %>
    </div>

    <h1>Random Options</h1>
    <%= f.fields_for :settings do |d| %>
      <%= d.check_box :youtube_link %> Link Youtube Videos In Chat<br><br>
      <%= d.check_box :osu_link %> Send Osu Songs In Chat To User? <small>*requires osu name</small><br><br>
      <%= d.check_box :sub_message_active %> Have bot say a message when a user subscribes!<br>
      Regular Sub: <%= d.text_field :sub_message_text %>
      Resub: <%= d.text_field :sub_message_resub %><br><br>
      <%= d.check_box :voting_active %> Ability to create polls in chat? <small>*broadcaster only</small><br>
      <%= d.check_box :voting_mods %> Allow mods to create and end polls as well?<br><br>
      <div class="pure-g">
        <div class="pure-u-1-3">
          <div class="panel panel-default">
            <div class="panel-heading"><h2 style="color: black; margin: 0px;">Social</h2></div>
            <div class="panel-body">
              <%= d.check_box :social_active %> Enabled<br>
              Output: <%= d.text_field :social_output %>
              Time Between Messages: <small>*Time is in minutes</small><%= d.number_field :social_time %>
              Number of Messages Before Sending: <%= d.number_field :social_messages %>
            </div>
          </div>
        </div>
        <div class="pure-u-1-3">
          <div class="panel panel-default">
            <div class="panel-heading"><h2 style="color: black; margin: 0px;">Toobou</h2></div>
            <div class="panel-body">
              <%= d.check_box :toobou_active %> Enabled<br>
              Time Between Insults: <%= d.number_field :toobou_limit %>
              Trigger: <%= d.text_field :toobou_trigger %>
              Output: <%= d.text_field :toobou_output %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <br>
    <%= f.submit "Save", class: "pure-button pure-button-primary" %>
  <% end %>
<% else %>
  <%= link_to "Login with Twitch", to_twitch_path, class: "pure-button pure-button-login" %><br><br>
  This page is the web interface for SaltyBot.  If you would like to use it just log in to this page and select the options that you would like.
<% end %>
