%body
  %header.navbar.navbar-static-top.navbar-inverse
    .container
      = link_to "League of Newbs", root_path, id: "logo"
      %nav
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Home", root_path
          %li= link_to "FAQ", faq_path
          %li= link_to "PyDash", dashboard_path
          %li= link_to "SaltyBot", salty_path
