!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= yield :title
    = stylesheet_link_tag "application.css"
    = javascript_include_tag "application.js", async: Rails.env.production?, defer: Rails.env.production?
    = csrf_meta_tags
    = favicon_link_tag
  %body
    = render 'layouts/header'
    .container
      - flash.each do |key, value|
        %div{class: "alert alert-#{key} alert-dismissible fade show", role: "alert"}
          = value
          %button.btn-close{type: "button", "data-bs-dismiss" => "alert", "aria-label" => "Close"}
      = yield
      = render 'layouts/footer'

    - if signed_in?
      = render 'modals/song_command'
